body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('Amsterdam.jpg'); 
    background-position: center;
    color: black;
    text-align: center;
    padding: 100px 0;
    background-size: cover;
    font-size: 36px;
}

.content-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
}

.content-container img {
    max-width: 50%; 
}

.bg-secondary {
    background-color: #ccc; 
    padding: 20px;
    color: #fff; 
}

@media (max-width: 768px) {
}

.header {
    font-size: 36px; 

@media (max-width: 768px) {
    .header {
        font-size: 24px; 
    }

}
}